:root {
    --main-bg-color: #FAF1D3;
    --Navbar-bg-color: #E7D6C3;
    --card-bg-color: #BED7B1;
    --button-bg-color: #C4B4CA;
    --text-dark-color: #373027;
    --text-light-color: #FAFAF5;
    --disabled-color: #C6C8CC;
    --bg-h2-color: #FDFFA1;
    --border-color:  #785B2E;
    --moreInfo-bg-color: #E7F8F8;
    --footer-bg-color: #26354B;
    
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.loading {
    margin: 0;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.spinner {
    width: 50rem;
    height: 50rem;
    border: 1vh solid currentColor;
    border-right-color: transparent;
}

.not_found {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    height: calc(100vh - 10vh);
    width: 100%;
    background-image: url('../media/bg.jpg');
    background-position: top;
    background-size: contain;

    color: var(--text-light-color);
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: var(--Navbar-bg-color);
}

.Navbar_container {
    align-items: center;
    background-color: var(--Navbar-bg-color);
    display: flex;
    gap: 1rem;
    height: 5rem;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.btn{
    align-self: center;
    background-color: var(--button-bg-color);
    border: 0;
    border-radius: 2rem;
    color: var(--text-light-color);
    font-size: large;
    font-weight: 700;
    height: 50%;
    line-height: 50%;
    padding: .6em 2em;
}

.btn:hover {
    background-color: var(--text-dark-color);
}

.btn:disabled {
    background-color: var(--disabled-color);
}

.home {
    text-decoration: none;
    align-self: center;
    background-color: var(--button-bg-color);
    border: 0;
    border-radius: 2rem;
    color: var(--text-light-color);
    font-size: large;
    font-weight: 700;
    height: 50%;
    padding: .6em 2em;
}

.home:hover {
    background-color: var(--text-dark-color);
    color: var(--text-light-color);
}

.home:disabled {
    background-color: var(--disabled-color);
}

.Navbar_span{
    background-color: var(--moreInfo-bg-color);
    color: var(--text-dark-color);
    width: 3rem;
    height: 3rem;
    font-size: larger;
    font-weight: bolder;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    background-color: var(--main-bg-color);
}

.searchbar {
    margin: 1rem 3rem 1rem 3rem;
    background-color: white;
    margin-right: 2vh;
    flex: 1;
}

.searchbar input {
    padding: 1vh;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    border: none;
    width: 100%;
}

.searchbar input:focus {
    outline:none;
}

.searchbar_container button {
    margin-right: 3rem;
} 

.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.characterContainer{
    width: 25rem;
    height: max-content;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg-color);
}
.characterContainer h2 {
    overflow: hidden;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--bg-h2-color);
    width: 100%;
    height: max-content;
    text-overflow: ellipsis;

}

.characterContainer img {
    margin-bottom: 1rem;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.characterContainer img:hover {
    border: 0.4rem solid var(--border-color);
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.characterDetail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--card-bg-color);
}
.moreInfoTitle {
    text-align: center;
    background-color: var(--bg-h2-color);
}

.characterDetail button {
    margin-bottom: 2rem;
    height: 5vh;
    width: 90%;
}
.moreInfoContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--card-bg-color);
    padding: 1rem;
    width: 100%;
    height: 75vh;
    text-align: center;
}
.moreInfoContainer picture img {
    width: 50vh;
}
.detail {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.detail p {
    color: var(--text-dark-color);
    margin-bottom: 0.7rem;
}

.detail p span {
    color:var(--text-dark-color);
    padding: 0.3rem;
    border-radius: 2rem;
    background-color: #FFA187;
}

.detail .btn {
    margin-bottom: 1rem;
    width: 100%;
}

.footer_container {
    margin: 0;
    height: max-content;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--text-light-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.git {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.footer_container a {
    color: var(--text-light-color);
    text-decoration: none;
}
.footer_container a:hover {
    color: lightblue;
}

.api {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.api img {
    width: 6rem;
    border-radius: 2rem;
}

.disclaimer {
    text-align: center;
}